@{
    ViewData["Title"] = "Панель агрегации";
}

<div class="d-flex flex-column w-75 mx-auto mt-3 mb-5">
    <h3 class="text-center mb-4">Проверка агрегации</h3>
    <select name="aggregationAction" id="aggregationAction" class="w-50 mb-4 mx-auto">
        <option disabled selected value="0">Выберете действие</option>
        <option value="1">Поиск данных по пользователям</option>
        <option value="2">Поиск данных по залам</option>
        <option value="3">Поиск и проекция данных по заказам</option>
        <option value="4">Групировка данных по заказам</option>
        <option value="5">Поиск и групировка данных по заказам</option>
    </select>
    <button class="mx-auto mb-4 btn btn-outline-primary" id="StartAggregation">Запустить действие</button>
</div>
<div class="container-fluid" id="aggregationResult">
   
</div> 
<script src="~/JS/Ajax_for_db_migrate.js"></script>
