@model List<Booking>

<h4 class="text-center">Функция агрегации Match и Group по коллекции "booking"</h4>
<table class="account_booking">
<tr class="account_booking_item">
    <td><span>Названиие зала</span></td>
    <td><span>Количество заказов</span></td>
</tr>
@foreach (var booking in Model)
{
    <tr class="account_booking_item">
        <td><span>@booking.RentedHall.Name</span></td>
        <td><span>@booking.Count</span></td>
    </tr>
}
</table>