@model List<Hall>

<h4 class="text-center">Функция агрегации Match по коллекции "hall"</h4>
<table class="account_booking">
<tr class="account_booking_item">
    <td><span>Идентификатор</span></td>
    <td><span>Название</span></td>
    <td><span>Цена</span></td>
</tr>
@foreach (var hall in Model)
{
    <tr class="account_booking_item">
        <td><span>@hall.IdHall</span></td>
        <td><span>@hall.Name</span></td>
        <td><span>@hall.Price</span></td>
    </tr>
}
</table>